input:focus {
    outline: none;
    border: 2px solid transparent;
    box-shadow: 0 0 3px 2px #4158D0, 0 0 6px 4px #C850C0, 0 0 9px 6px #FFCC70;
  }
  
  .bola{
    background: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70);
  }

  button {
    background: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70);
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    filter: brightness(1.2);
  }
  
  button:active {
    transform: scale(0.98);
  }
  